*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}


.menu {
    position: static;
    width: 100%;
    height: 100px;
    background-color: brown;
}
.fundo{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}
.nome{
    font-family: sans-serif
}
h1{
    text-align: center;
    color: brown;
    margin: left;
    padding-left: 0px;
    padding-top: 30px;
    font-size: 70px;
}
.foto{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 30px;
    border: solid 10px brown;
}
p{
    color: rgb(255, 255, 255);
    margin-left: 395px;
    font-size: 20px;

}
a{
    
    padding: 35px;
    font: 20px;
    color: rgb(255, 255, 255);
    background-color: brown
   

   
}
.link1{
    padding: 2vh 3vh 2vh 3vh;
    text-align: center;
    position: relative;
    left: 730px;
    top: 280px;
    border-radius: 20px;
    text-decoration: none;
    
}
.link1:hover {
    background-color: rgb(252, 252, 252);
    color: brown;
}
.link2{
    padding: 2vh 3vh 2vh 3vh;
    text-align: center;
    position: relative;
    left: 750px;
    top: 280px;
    border-radius: 20px;
    text-decoration: none;
}
.link2:hover:hover {
    background-color: rgb(252, 252, 252);
    color: brown;
}
.bullets{
    color: white;
    position: absolute;
    left: 450px;
    top: 30vh;
    font-size: 25px;
   
}
