/* 
.contactPai{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
    padding: 10px;
}

.contactLeft {
    padding: 0 50px;
}

.contactRight{
    margin: 0 100px;
}

.titleContact {
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 -20px 40px 0;
    padding: 0 20px;
    border-bottom: 1px solid black;
}

.iconContact {
    margin: 0 10px 0;
}

.iconCo {
    margin: 0 20px -4px 0;
}

.emailContact{
    color: rgb(255, 255, 255);
    background-color: #1f272d;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.linkContact{
    color: rgb(255, 255, 255);
    background-color: #5A7287;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 255px;
    height: 40px;
    margin: 20px 0;
}

.linkContact:hover{
    background-color: #728fa9;
    box-shadow: 2px 2px 10px #28323b;
    text-decoration: underline;
}

.iconLink{
    font-size: 22px;
}

.btnCopyEmail {
    all: unset;
}

.btnCopyEmail:active {
    all: unset;
    transform: scale(1.3);
}

.iconCopyEmail {
    font-size: 25px;
}

#copyEmail{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: transparent;
    position: absolute;
    margin-left: 455px;
    margin-bottom: 60px;
    padding: 4px;
    border-radius: 2px;
    z-index: 2;
} */

@media screen and (min-width: 320px) and (max-width: 375px) {
    .contactPai{
        margin-top: 120px;
        padding: 10px;
    }

    #copyEmail {
        position: absolute;
        padding: 5px 10px;
        border-radius: 8px;
        animation-name: copyEmailAni;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        animation-iteration-count:unset;
        animation-direction: alternate;
    }

    @keyframes copyEmailAni {
        0% { top: -30px; }
        100% { top: 80px;}
    }

    .contactLeft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .emailContact {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 20px 0;
    }
    
    .iconEmailCo {
        width: 9vw;
    }

    .emailLucasFalse {
        font-size: 1rem;
        color: rgb(228, 228, 231);
    }

    .emailLucasTrue {
        font-size: 1rem;
        color: rgb(75, 85, 117);
    }

    .btnCopyEmail {
        all: unset;
        margin: 0 0 0 5px;
    }

    .iconCopyEmail {
        font-size: 1.3rem;
    }

    .titleContact{
        font-size: 2.5rem;
        margin: 0 0 40px 0;
        border-bottom: 1px solid black;
        padding: 10px 20px;
    }

    .linkContactTrue {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(75, 85, 117);
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        margin: 10px 0;
        width: 80vw;
        height: 12vw;
        box-shadow: 0 2px 5px 2px #4a4a48a5;
        background:linear-gradient(to bottom, rgb(103, 120, 178) 5%, rgb(75, 85, 117) 100%);
        background-color: rgb(75, 85, 117);
        border:1px solid rgb(75, 85, 117);
        cursor:pointer;
        font-weight:bold;
        text-shadow:0px 1px 0px rgb(59, 66, 91);
    }

    .linkContactFalse {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        margin: 10px 0;
        width: 80vw;
        height: 12vw;
        box-shadow: 0 2px 5px 2px #4a4a48a5;
        background:linear-gradient(to bottom, rgb(215, 218, 228) 5%, rgb(162, 164, 173) 100%);
        background-color: rgb(75, 85, 117);
        border:1px solid rgb(75, 85, 117);
        cursor:pointer;
        font-weight:bold;
        text-shadow:0px 1px 0px rgb(59, 66, 91);
    }

    .contactRight {
        visibility: hidden;
    }

    .iconContact{
        font-size: 1.5rem;
    }

    .iconCo{
        font-size: 1.5rem;
        margin: 0 10px 0 15px;
    }

    .iconLink {
        font-size: 1.5rem;
        margin: 0 10px 0 5px;
    }
}

