.divHomePai-home {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
}

.imgdivBar-home {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}

.imgdivBar2-home {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.divBar-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 210px;
  top: 200px;
  position: absolute;
}

.divBarName-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation-name: name1Ani;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes name1Ani {
  0% {
    transform: translateY(-300px)
  }

  100% {
    transform: translateY(0)
  }
}

.name1light-home {
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 7px 3px rgb(0, 0, 0),
    6px 6px 12px rgb(116, 116, 116);
  font-size: 5vw;
  color: rgb(255, 255, 255);
}

.name2light-home {
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 7px 3px rgb(0, 0, 0),
    6px 6px 12px rgb(116, 116, 116);
  font-size: 5vw;
  color: rgb(255, 255, 255);
}

.name1dark-home {
  -webkit-text-stroke: 3px black;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 7px 3px white,
    6px 6px 12px rgb(116, 116, 116);
  font-size: 5vw;
  color: rgb(0, 0, 0);
}

.name2dark-home {
  -webkit-text-stroke: 3px black;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 7px 3px white,
    6px 6px 12px rgb(116, 116, 116);
  font-size: 5vw;
  color: rgb(0, 0, 0);
}

.name3D-home {
  -webkit-text-stroke: 3px black;
  border-right: 5px solid rgb(248, 248, 248);
  text-align: center;
  text-shadow: 8px 4px rgb(0, 0, 0);
  font-size: 7vw;
  color: #4d6486;
  width: 110%;
  height: 118px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(16) infinite alternate,
    cursor .4s step-end infinite alternate;
}

.name3F-home {
  -webkit-text-stroke: 3px black;
  border-right: 5px solid rgb(248, 248, 248);
  text-align: center;
  text-shadow: 8px 4px rgb(0, 0, 0);
  font-size: 6vw;
  color: #4d6486;
  width: 110%;
  height: 118px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(18) infinite alternate,
    cursor .4s step-end infinite alternate;
}

.name3B-home {
  -webkit-text-stroke: 3px black;
  border-right: 5px solid rgb(248, 248, 248);
  text-align: center;
  text-shadow: 8px 4px rgb(0, 0, 0);
  font-size: 6.8vw;
  color: #4d6486;
  width: 114%;
  height: 118px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(16) infinite alternate,
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.fundo-home {
  background-color: black;
  border-radius: 30px;
  width: 110%;
  height: 100px;
  position: relative;
  bottom: 90px;
  padding: 0 5px;
  z-index: -1;
}

.divBarPara-home {
  font-size: 1.15vw;
  position: relative;
  bottom: 30px;
  -webkit-text-stroke: 1.5px black;
  /* animation-name: para1Ani;
  animation-fill-mode: forwards;
  animation-duration: 1s; */
}

.para-home:nth-child(1) {
  letter-spacing: 1px;
  animation-name: para1Ani;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  margin-bottom: 10px;
  /* border-bottom: 1px solid white;
  width: 89%; */
}

.para-home:nth-child(2) {
  letter-spacing: 1px;
  animation-name: para1Ani;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  margin-bottom: 10px;
  /* border-bottom: 1px solid white; */
}

.para-home:nth-child(3) {
  letter-spacing: 1px;
  animation-name: para1Ani;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  /* border-bottom: 1px solid white;
  width: 83%; */
}

@keyframes para1Ani {
  0% {
    transform: translateX(-300px)
  }

  100% {
    transform: translateY(0)
  }
}