* {
  margin: 0;
  padding: 0;
  overflow: hidden
}

#mainHome {
  display: flex;
  position: relative;
 }

#olho1, #olho2 {
  position: absolute;
  height: 60px;
  width: 60px;
  z-index: -2;
};

#imagem {
  position: absolute;
}

.paiMemoji {
  position: absolute;
  right: 200px;
  bottom: -5px;
}