.lightMode {
  display: flex;
  position: absolute;
  right: 130px;
  top: 50px;
  cursor: pointer;
  z-index: 1;
}

.lightMode > a:nth-child(1):hover {
  transform: scale(1.2);
  color: rgb(9, 156, 9);
}

.lightMode > a:nth-child(2):hover {
  transform: scale(1.2);
  color: #003b57;
}

.lightMode > a:nth-child(3):hover {
  transform: scale(1.2);
  color: #ffffff;
}

.lightMode > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.iconContact {
  font-size: 35px;
  margin: 0 10px;
}

.switch {
    position: absolute;
    /* display: inline-block; */
    right: -65px;
    top: 0px;
    width: 60px;
    height: 34px;
    z-index: 1;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    z-index: 1;
  }
  
  input:checked + .slider {
    background-color: #3B4553;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .day{
    position: absolute;
    z-index: 2;
    top: 7px;
    left: 8px;
    color: rgb(228, 231, 41);
    font-size: 20px;
  }

  .night{
    position: absolute;
    z-index: 2;
    top: 7px;
    right: 8px;
    font-size: 20px;
  }
