.paiMemoji {
  animation-name: paimemojiAni;
  animation-duration: 1s;
  position: absolute;
  right: 9%;
  bottom: 80px;
  z-index: -2;
}

@keyframes paimemojiAni {
  0%   { right: 0px;}
  100%   { right: 9%;}
}

#olho1,
#olho2 {
  position: absolute;
  height: 60px;
  width: 60px;
  z-index: -2;
};

#imagem {
  position: absolute;
}

.fundoOlhos {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 80px;
  position: absolute;
  top: 355px;
  right: 100px;
  z-index: -3;
}
