#mainHome {
    display: flex;
    position: relative;
   }

#olho1, #olho2 {
    position: absolute;
    height: 3vw;
    width: 3vw;
    z-index: -2;
  };
  
  #imagem {
    position: absolute;
    width: 28vw;
    height: 35vw;
  }
  
  .paiMemoji {
    position: absolute;
    right: 200px;
    bottom: -5px;
  }
  
  .fundoOlhos {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 45px;
    position: absolute;
    top: 215px;
    right: 90px;
    z-index: -3;
  }

  #imagem {
    width: 28vw;
    height: 35vw;
  }