.paiNavBar {
    margin-top: -20px;
    padding: 0;
}

.btn {
    all: unset;
    position: absolute;
    font-size: 50px;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.btnFalse {
    all: unset;
    animation-name: example2Btn;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    position: absolute;
    font-size: 50px;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

@keyframes example2Btn {
    0%   { left: 220px;}
    100%   { left: 20px;}
}

.btnTrue {
    all: unset;
    animation-name: example2;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    position: absolute;
    font-size: 50px;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

@keyframes example2 {
    0%   { left: 20px;}
    100%   { left: 240px;}
}

.nav {
    position: absolute;
    left: -220px;
    width: 200px;
    height: 120%;
    background-color: rgb(33, 38, 45);
}

.navFalse {
    animation-name: navDesactive;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    position: absolute;
    left: -220px;
    width: 200px;
    height: 120%;
    background-color: #556377;
    box-shadow: 5px 5px 15px #29303a;
    z-index: 1;
}

@keyframes navDesactive {
    0%   { left: 0px;}
    100%   { left: -220px;}
}

.navTrue {
    animation-name: navActive;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    position: absolute;
    left: 0;
    width: 220px;
    height: 120%;
    background-color: #556377;
    box-shadow: 5px 5px 15px #29303a;
    z-index: 1;
}

@keyframes navActive {
    0%   { left: -220px;}
    100%   { left: 0px;}
}

.divBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 960px;
    background-color: #3b4553c5;
  }
  
  .name1 {
    text-align: center;
    font-size: 3.2vw;
    color: rgb(255, 255, 255);
  }

  .divBarName {
    animation-name: name1Ani;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    left: 8%;
    position: absolute;
  }

  @keyframes name1Ani {
    0%   { top: 0px; left: 180px;}
    80%   { top: 300px; left: 180px;}
    100%   { top: 280px; left: 180px;}
}
  
  .name2 {
    text-align: center;
    font-size: 6.2vw;
    color: rgb(255, 255, 255);
  }
  
  .name3 {
    text-align: center;
    font-size: 4.6vw;
    color: rgb(255, 255, 255);
  }

  .name4 {
    text-align: center;
    margin-top: 10px;
    font-size: 2.45vw;
    color: rgb(255, 255, 255);
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    height: 380px;
  }

  .liLink {
    margin: 30px 0;
    padding: 10px;
  }

  .linkNav {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    width: 220px;
    height: 50px;
    margin: 20px 0;
  }
  
  .linkNav:hover {
    text-decoration: none;
    background-color: #6e809a;
    color: rgb(52, 52, 52);
    box-shadow: 2px 2px 10px rgba(23, 22, 46, 0.716);
  }
 
  .iconLink1 {
    color: white;
    font-size: 22px;
    margin: 0 10px 0;
  }

  .iconLink2 {
    color: white;
    font-size: 22px;
    margin: 0 10px 0;
  }

  .iconLink3 {
    color: white;
    font-size: 20px;
    margin: 0 10px 0;
  }

  .iconLink4 {
    color: white;
    font-size: 20px;
    margin: 0 10px 0;
  }
  
  .darkModeTrue {
    background: rgb(59,69,83);
    background: linear-gradient(164deg, rgba(59,69,83,1) 0%, rgba(118,127,140,1) 100%); 
    width: 100%;
    height: 110%;
    position: absolute;
    right: 0;
    z-index: -3;
  }

  .darkModeFalse {
    background: rgb(255,255,255);
    background: linear-gradient(25deg, rgba(255,255,255,1) 0%, rgba(118,127,140,1) 100%);
    width: 100%;
    height: 110%;
    position: absolute;
    right: 0;
    z-index: -3;
  }