.avoCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

.paiCard {
    background-repeat: repeat;
    border-radius: 45px;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 730px;
    width: 120px;
    margin-right: -50px;
    box-shadow: -1px 0 20px 5px rgba(13, 10, 29, 0.356);
    cursor: pointer;
    overflow: hidden;
    transition: width 1.5s ease;
}

.paiCard:hover {
    box-shadow: -1px 0 20px 5px rgba(0, 0, 0, 0.651);
    margin-top: -40px;
}

.titleCard {
    text-align: center;
    font-size: 40px;
    position: relative;
    left: -30px;
    top: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    text-shadow: 2px 2px 10px black;
    transform: scale(1.2);
    color: rgb(253, 253, 253);
}

.subtitleCard {
    display: none;
}

.stacksCard {
    display: none;
}

.imgCard {
    display: none;
}

.paiBtnsCard {
    display: none;
}

.paiCirclesCard {
    display: none;
}

.linkProjectPai {
    display: none;
}

.linkProjectPai > .linkProject {
    display: none;
}

/* SELECTED  */

.paiCard-selected {
    background-size: 100%;
    border-radius: 45px;
    width: 800px;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 730px;
    margin-right: -50px;
    box-shadow: -1px 0px 20px 5px rgba(13, 10, 29, 0.356);
    transition: width 1s ease;
}

.titleCard-selected {
    text-align: center;
    position: relative;
    bottom: 180px;
    font-size: 85px;
    animation: TselectedCard forwards 2s;
    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 8px rgb(146, 146, 146);
}

@keyframes TselectedCard {
    0% {
        transform: scale(0.2);
        transform: translateX(100);
        width: 700px;
    }

    100% {
        transform: scale(1);
        transform: translateX(100);
        width: 700px;
    }
}

.subtitleCard-selected {
    text-align: center;
    position: relative;
    top: 130px;
    animation: TselectedCard forwards 2s;
    color: white;
}

.stacksCard-selected {
    display: flex;
    position: relative;
    top: 110px;
    animation: selectedCard forwards 2s;
}

.stacksCardteste {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 6px 8px;
    border: 2px solid white;
    color: white;
}

.paiBtnsCard-selected {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    top: 70px;
}

.leftBtnCard {
    all: unset;
    font-size: 45px;
    margin: 0 20px;
    opacity: 0.4;
    height: 45px;
    width: 45px;
    cursor: pointer;
    color: rgb(85, 85, 85);
    animation: selectedCard forwards 2s;
}

.rightBtnCard {
    all: unset;
    font-size: 45px;
    margin: 0 70px 0;
    opacity: 0.4;
    height: 45px;
    width: 45px;
    cursor: pointer;
    color: rgb(85, 85, 85);
    animation: selectedCard forwards 2s;
}

.leftBtnCard:hover,
.rightBtnCard:hover {
    border-radius: 50%;
    opacity: 1;
    transform: scale(1.1);
}

.imgCard-selected {
    position: relative;
    margin: 10px;
    height: 500px;
    width: 500px;
    bottom: 130px;
    animation: selectedCard1 forwards 2s;
}

@keyframes selectedCard {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes selectedCard1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.paiCirclesCard-selected {
    opacity: 0.9;
    color: rgb(85, 85, 85);
    animation: selectedCard forwards 2s;
    position: relative;
    top: 168px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkProjectPai-selected {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 150px;
    animation: selectedCard forwards 2s;
}

.btnLink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 23px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 20px;
    padding: 10px 30px;
    width: 160px;
}

.linkProject {
    display: flex;
    align-items: center;
}

.linkProject > p {
    margin-right:  10px;
}