.avoCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

.paiCard {
    border-radius: 45px;
    background-color: #4d6486;
    background-image: ;
    display: flex;
    color: rgb(247, 247, 247);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 730px;
    width: 120px;
    margin-right: -50px;
    box-shadow: -1px 0 20px 5px rgba(13, 10, 29, 0.356);
    cursor: pointer;
    overflow: hidden;
    transition: width 2s ease;
}

.paiCard:hover {
    box-shadow: -1px 0 20px 5px rgba(0, 0, 0, 0.651);
    margin-top: -40px;
}

.titleCard {
    text-align: center;
    font-size: 35px;
    position: relative;
    left: -30px;
    top: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
}

.subtitleCard {
    display: none;
}

.stacksCard {
    display: none;
}

.imgCard {
    display: none;
}

.paiBtnsCard {
    display: none;
}

.paiCirclesCard {
    display: none;
}

.linkProjectPai {
    display: none;
}

.linkProjectPai > .linkProject {
    display: none;
}


/* SELECTED  */

.paiCard-selected {
    border-radius: 45px;
    width: 800px;
    background-color: rgb(229, 230, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 730px;
    margin-right: -50px;
    box-shadow: -1px 0px 20px 5px rgba(13, 10, 29, 0.356);
    transition: width 2s ease;
}

.titleCard-selected {
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 85px;
    animation: TselectedCard forwards 2.5s;
    color: white;
}

@keyframes TselectedCard {
    0% {
        transform: scale(0.2);
        transform: translateX(100);
        width: 700px;
    }

    100% {
        transform: scale(1);
        transform: translateX(100);
        width: 700px;
    }
}

.subtitleCard-selected {
    text-align: center;
    position: relative;
    top: 360px;
    animation: TselectedCard forwards 2.5s;
    color: white;
}

.stacksCard-selected {
    display: flex;
    position: relative;
    top: 320px;
    animation: selectedCard forwards 2.5s;
}

.stacksCardteste {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 6px 8px;
    border: 2px solid white;
    color: white;
}

.paiBtnsCard-selected {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    bottom: 320px;
}

.leftBtnCard {
    all: unset;
    font-size: 45px;
    margin: 0 20px;
    opacity: 0.4;
    height: 45px;
    width: 45px;
    cursor: pointer;
    animation: selectedCard forwards 2.5s;
}

.rightBtnCard {
    all: unset;
    font-size: 45px;
    margin: 0 70px 0;
    opacity: 0.4;
    height: 45px;
    width: 45px;
    cursor: pointer;
    animation: selectedCard forwards 2.5s;
}

.leftBtnCard:hover,
.rightBtnCard:hover {
    border-radius: 50%;
    opacity: 1;
    transform: scale(1.1);
}

.imgCard-selected {
    position: relative;
    margin: 10px;
    height: 500px;
    width: 500px;
    animation: selectedCard1 forwards 2.5s;
}

@keyframes selectedCard {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes selectedCard1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.paiCirclesCard-selected {
    opacity: 0.7;
    color: rgb(63, 63, 63);
    animation: selectedCard forwards 2.5s;
    position: relative;
    bottom: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkProjectPai-selected {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 25px;
    animation: selectedCard forwards 2.5s;
}

.btnLink {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 134, 22);
    color: white;
    font-size: 23px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 20px;
    padding: 10px 30px;
    width: 160px;
}

.linkProject {
    display: flex;
    align-items: center;
}

.linkProject > p {
    margin-right:  10px;
}